/*-------------------------Media---------------------*/
/*------------------------1240px---------------------*/
@media (max-width: 1240px){
	.item-header{
		min-height: 560px;
	}

	.item-grey{
		padding: 40px 50px 40px 40px;

		.title-block{
			margin-bottom: 35px;
		}
	}

	.button-wrap {
	    margin-bottom: 50px;
	}

	.item-blue{
		padding: 40px 40px 25px 40px;

		.title-block {
			font-size: 38px;
			line-height: 40px;
		    margin-bottom: 15px;
		}
	}

	.item-inner {
	    margin-bottom: 40px;
	}

	.item-beige{
		padding: 40px 40px 0px 40px;

		.title-block {
		    margin-bottom: 15px;
		}
	}

	.item-black{
		padding: 40px 40px 0px 40px;

		.title-block{ 
			margin-bottom: 15px;
		}
	}

	.item-human{
		min-height: 560px;
		padding: 40px 30px 30px 40px;

		.title-block {
		    font-size: 38px;
			line-height: 40px;
		}
	}

	.item-contact{
		padding: 40px 30px 30px 40px;

		.title-block {
		    margin-bottom: 30px;
		}
	}	
}
/*------------------------1040px---------------------*/
@media (max-width: 1040px){

}



